<form [formGroup]="passwordForm">
  <div class="wrapper-container">
    <mat-form-field appearance="fill">
      <input
        matInput
        placeholder="Password"
        [type]="passwordIsVisible ? InputType.Text : InputType.Password"
        formControlName="passwordControl"
      >
      <button
        mat-icon-button
        matSuffix
        (click)="passwordIsVisible = !passwordIsVisible"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="passwordIsVisible"
      >
        <mat-icon>{{passwordIsVisible ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <div class="password-strength">
      <div class="bar-strength">
        <div class="bar-item"
             [class.low-strength]="passwordStrength === PasswordLevel.Weak || passwordStrength === PasswordLevel.Medium"
             [class.medium-strength]="passwordStrength === PasswordLevel.Medium"
             [class.high-strength]="passwordStrength === PasswordLevel.Strong"
             [class.low-characters]="passwordForm.get('passwordControl')?.value && passwordForm.get('passwordControl')?.value!.length < minPasswordLength">
        </div>
        <div class="bar-item"
             [class.medium-strength]="passwordStrength === PasswordLevel.Medium || passwordStrength === PasswordLevel.Strong"
             [class.high-strength]="passwordStrength === PasswordLevel.Strong"
             [class.low-characters]="passwordForm.get('passwordControl')?.value && passwordForm.get('passwordControl')?.value!.length < minPasswordLength">
        </div>
        <div class="bar-item"
             [class.high-strength]="passwordStrength === PasswordLevel.Strong"
             [class.low-characters]="passwordForm.get('passwordControl')?.value && passwordForm.get('passwordControl')?.value!.length < minPasswordLength">
        </div>
      </div>
      <div class="text-strength">
        @for (level of passwordLevels; track level ) {
          <span class="level-strength">{{level}}</span>
        }
      </div>
    </div>
  </div>
</form>
